<div style="padding: 5%">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<nav>
					<a routerLink="/dashboard">Dashboard</a>
					<a routerLink="/heroes">Heroes</a>
				</nav>
				<router-outlet></router-outlet>
				<!-- <app-heroes></app-heroes> -->
			</div>
			<div class="col-md-6">
				<app-messages></app-messages>
			</div>
		</div>
	</div>
</div>
